<div id="<%= dom_id group %>">
  <div class="cat-ctn d-flex">
  <i class="<%= @icons.values[group.icon] %>"></i>
    <%= link_to group.name, group %>
    <p><%= "$#{group.movements_total}" %></p>
  </div>
</div>
