<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="groups" class="d-flex col">
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
</div>

<%= link_to "Add new category", new_group_path %>
