<section class="user-status-ctn d-flex">
  <% if user_signed_in? %>
    <%= "Logged as #{current_user.first_name}"%>
    <strong><%= button_to 'Sign Out', destroy_user_session_path, method: :delete %></strong>
  <% end %>
</section>
