/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@font-face {
  font-family: 'proxima-nova-bold';
  src: url('/assets/proxima_nova_bold.otf')
}

@font-face {
  font-family: 'proxima-nova-light';
  src: url('/assets/proxima_nova_light.otf')
}

:root {
  --blue: #3778c2;
  --green: #5fb523;
  --grey: #434b54;
  --light: 'proxima-nova-light';
  --bold: 'proxima-nova-bold'
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.col {
  flex-direction: column;
}

a, button {
  all: unset;
  cursor: pointer;
}

body {
  background-color: rgb(70, 70, 70);
  font-family: var(--light);
  text-align: center;
  color: var(--grey)
  /* height: 100vh; */
}

.body-ctn {
  max-width: 430px;
  background-color: white;
  margin: auto;
  height: 100vh;
}

.home-ctn {
  height: 100%;
  border: solid 2px red;
  justify-content: flex-end;
}

.logo-ctn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.splash-title {
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  cursor: default;
  color: black;
}

.logo-ctn i {
  font-size: 60px;
  color: black;
}

.home-btns-ctn {
  padding: 20px 5px;
  gap: 15px;
}

.home-btns-ctn .login-btn {
  padding: 15px;
  width: 80%;
  color: white;
  background-color: var(--blue);
}
